<mat-card>
    <mat-spinner *ngIf="isloading"></mat-spinner>
    <form *ngIf="!isloading" (submit) = 'onLogin(loginForm)' #loginForm='ngForm'>
      <mat-form-field>
        <input matInput type='email' [ngModel]="'test2@test.com'" placeholder='enter email' name='email' ngModel #emailInput='ngModel' required email>
        <mat-error *ngIf="emailInput.invalid">Please enter a valid email</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type='password' [ngModel]="'test'" placeholder='enter password' name='password' ngModel #passwordInput required>
        <mat-error *ngIf="passwordInput.invalid">Please enter a valid password</mat-error>
      </mat-form-field>
      <button mat-raised-button color="accent" type="submit">Login</button>
    </form>
  </mat-card>